---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Living Type">
  <div class="text-center">
    <p>
      Living Type is a Brisbane based rock trio connecting audiences with a
      healthy dose of originals and covers.
    </p>
    <p>
      The band have recorded two EPs over the last few years as well as
      entertaining live crowds with songs that take you from "Hey, I know this
      song" to where you can't help but sing along.
    </p>
    <p>
      Enjoy songs ranging from intimate acoustic ballads to rocking foot
      stompers that end with band members dancing on bars. Come and get amongst
      it!
    </p>
  </div>
  <div>
    <ul class="content">
      <li>
        <a href="https://www.facebook.com/events/1481623233178024/" target="_blank" rel="noreferrer">
          Next show - Oct 10th
        </a>
		  </li>
      <li>
        <a
          href="https://music.youtube.com/channel/UC5M77CY2mginxDfJ9jpxH1Q"
          target="_blank"
          rel="noreferrer"
        >
          Listen online
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/watch?v=A5kbPjPACuo"
          target="_blank"
          rel="noreferrer"
        >
          Latest video
        </a>
      </li>
      <li>
        <a href="/songlist"> Song list</a>
      </li>
      <li>
        <a
          href="https://open.spotify.com/artist/2IQEc43d5HvELQg2lSgBrD"
          target="_blank"
          rel="noreferrer"
        >
          Spotify
        </a>
      </li>
      <li>
        <a
          href="https://music.apple.com/au/artist/living-type/1439884608"
          target="_blank"
          rel="noreferrer"
        >
          Apple Music
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/livingtype"
          target="_blank"
          rel="noreferrer"
        >
          Facebook
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/@livingtypeofficial"
          target="_blank"
          rel="noreferrer"
        >
          YouTube
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/livingtypeofficial"
          target="_blank"
          rel="noreferrer"
        >
          Instagram
        </a>
      </li>
      <li>
        <a
          href="https://www.abc.net.au/triplejunearthed/artist/living-type"
          target="_blank"
          rel="noreferrer"
        >
          Triple J Unearthed
        </a>
      </li>
      <li>
        <button class="collapsible"> Contact</button>
        <div class="collapse-content">
          <form
            name="contact"
            method="POST"
            data-netlify="true"
            netlify-honeypot="bot-field"
          >
            <label class="sr-only">
              Don't fill this out if you're human: <input name="bot-field" />
            </label>

            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              name="name"
              placeholder="Name"
              required
            />

            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Email"
              required
            />

            <label for="message">Message</label>
            <textarea
              id="message"
              name="message"
              placeholder="Message"
              cols="3"
              required></textarea>

            <button type="submit">Send</button>
          </form>
        </div>
      </li>
      <li>
        <a
          href="https://square.link/u/DDinBahU"
          target="_blank"
          rel="noreferrer"
        >
          Pay
        </a>
      </li>
    </ul>
  </div>
</Layout>
