---
import Layout from "../layouts/Layout.astro";

const catalog = [
  {
    artist: "Blink 182",
    song: "What's My Age Again",
  },
];
---

<Layout title="Song List | Living Type">
  <div class="text-center">
    <h2>Song List</h2>
  </div>
  <div class="content">
    {
      catalog.map((item) => (
        <div>
          {item.artist} - {item.song}
        </div>
      ))
    }
    <div>Birds of Tokyo - Wayside</div>
    <div>British India - I Can Make You Love Me</div>
    <div>Bowling for Soup - Baby One More Time</div>
    <div>The Cranberries - Zombie</div>
    <div>Crowded House - Don't Dream It's over</div>
    <div>Eagle Eye Cherry - Save Tonight</div>
    <div>Ed Sheeran - Castle on the Hill</div>
    <div>Everclear - Santa Monica</div>
    <div>Foo Fighters - Everlong</div>
    <div>Foo Fighters - Wheels</div>
    <div>Fountains of Wayne - Stacey's Mom</div>
    <div>Fuel - Shimmer</div>
    <div>Green Day - Boulevard of Broken Dreams</div>
    <div>Green Day - When I Come Around</div>
    <div>Gretta Van Fleet - Highway Tune</div>
    <div>Grinspoon - No Reason</div>
    <div>Hunters & Collectors - Holy Grail</div>
    <div>Icehouse - Electric Blue</div>
    <div>Imagine Dragons - Radioactive</div>
    <div>Incubus - Drive</div>
    <div>INXS - Never Tear Us Apart</div>
    <div>Led Zeppelin - Whole Lotta Love</div>
    <div>Lifehouse - Hanging by a Moment</div>
    <div>Live - Dolphins Cry</div>
    <div>Living Type - Free</div>
    <div>Living Type - Taper</div>
    <div>Living Type - Ain't No Way</div>
    <div>Living Type - Long Way Round</div>
    <div>Living Type - Hold Tight</div>
    <div>Living Type - Patches</div>
    <div>Living Type - Eternity</div>
    <div>Living Type - Not I</div>
    <div>Nickelback - How You Remind Me</div>
    <div>Nirvana - About A Girl</div>
    <div>Nirvana - Smells Like Teen Spirit</div>
    <div>Noiseworks - Touch</div>
    <div>Pearl Jam - Better Man</div>
    <div>Powderfinger - Love Your Way</div>
    <div>Red Hot Chili Peppers - Otherside</div>
    <div>Silverchair - Freak</div>
    <div>Smashing Pumpkins - Bullet With Butterfly Wings</div>
    <div>Split Enz - I Got You</div>
    <div>Staind - It's Been Awhile</div>
    <div>Tenacious D - Tribute</div>
    <div>Tonic - If You Could Only See</div>
    <div>Wheatus - Teenage Dirtbag</div>
    <div>ZZ Top - Tush</div>
  </div>
</Layout>
