---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Song List | Living Type">
  <div class="text-center">
    <h2>Song List</h2>
  </div>
  <div class="content">
    <div>3 Doors Down - Kryptonite</div>
    <div>Birds of Tokyo - Wayside</div>
    <div>Blink 182 - All The Small Things</div>
    <div>Blink 182 - Dammit</div>
    <div>Blink 182 - What's My Age Again</div>
    <div>Bowling for Soup - Baby One More Time</div>
    <div>British India - I Can Make You Love Me</div>
    <div>Counting Crows - Mr Jones</div>
    <div>Crowded House - Don't Dream It's Over</div>
    <div>Eagle Eye Cherry - Save Tonight</div>
    <div>Ed Sheeran - Castle on the Hill</div>
    <div>Everclear - Santa Monica</div>
    <div>Foo Fighters - Everlong</div>
    <div>Foo Fighters - My Hero</div>
    <div>Foo Fighters - Wheels</div>
    <div>Fountains of Wayne - Stacey's Mom</div>
    <div>Fuel - Shimmer</div>
    <div>Goo Goo Dolls - Iris</div>
    <div>Goo Goo Dolls - Slide</div>
    <div>Green Day - Boulevard of Broken Dreams</div>
    <div>Green Day - When I Come Around</div>
    <div>Gretta Van Fleet - Highway Tune</div>
    <div>Grinspoon - No Reason</div>
    <div>Harry Styles - Watermelon Sugar</div>
    <div>Hunters & Collectors - Holy Grail</div>
    <div>Icehouse - Electric Blue</div>
    <div>Imagine Dragons - Radioactive</div>
    <div>Incubus - Drive</div>
    <div>INXS - Never Tear Us Apart</div>
    <div>Jet - Are You Gonna Be My Girl</div>
    <div>Led Zeppelin - Whole Lotta Love</div>
    <div>Lenny Kravitz - Fly Away</div>
    <div>Lifehouse - Hanging by a Moment</div>
    <div>Live - Dolphins Cry</div>
    <div>Living Type - Ain't No Way</div>
    <div>Living Type - Eternity</div>
    <div>Living Type - Free</div>
    <div>Living Type - Hold Tight</div>
    <div>Living Type - Long Way Round</div>
    <div>Living Type - Not I</div>
    <div>Living Type - Patches</div>
    <div>Living Type - Taper</div>
    <div>Matchbox 20 - 3AM</div>
    <div>Mignight Oil - King of the Mountain</div>
    <div>Muse - Supermassive Black Hole</div>
    <div>Nickelback - How You Remind Me</div>
    <div>Nirvana - About A Girl</div>
    <div>Nirvana - Lithium</div>
    <div>Nirvana - Smells Like Teen Spirit</div>
    <div>Noiseworks - Touch</div>
    <div>Paul Kelly - Dumb Things</div>
    <div>Pearl Jam - Better Man</div>
    <div>Post Malone - I Had Some Help</div>
    <div>Powderfinger - Love Your Way</div>
    <div>Radiohead - Creep</div>
    <div>Red Hot Chili Peppers - Otherside</div>
    <div>Sister Hazel - All For You</div>
    <div>Smashing Pumpkins - Bullet With Butterfly Wings</div>
    <div>Split Enz - I Got You</div>
    <div>Staind - It's Been Awhile</div>
    <div>Tenacious D - Tribute</div>
    <div>The Cranberries - Zombie</div>
    <div>The Killers - When You Were Young</div>
    <div>The Offspring - Gone Away</div>
    <div>Tonic - If You Could Only See</div>
    <div>Vertical Horizon - Everything You Want</div>
    <div>Wheatus - Teenage Dirtbag</div>
    <div>Zac Brown Band - Chicken Fried</div>
    <div>ZZ Top - Tush</div>
  </div>
</Layout>
