---
import Layout from "../layouts/Layout.astro";

import { getSheetData } from "../utils/sheet";

const { songs } = await getSheetData();
---

<Layout title="Song List | Living Type">
  <div class="text-center">
    <h2>Song List</h2>
  </div>
  <div class="content">
    {songs.map((song) => <div>{song}</div>)}
  </div>
</Layout>
