/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/base.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/base";
 */
 @tailwind base;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */

 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

  body {
    @apply bg-lt-black-body;
    @apply text-gray-300;
  }

  main {
    min-height: 70vh;
  }

  h1,
  h2,
  h3 {
    font-family: 'Permanent Marker';
    @apply leading-none;
    @apply text-white;
  }

  h1 {
    @apply text-5xl;
    @apply uppercase;
    @apply my-8;
  }

  h2 {
    @apply text-4xl;
    @apply my-4;
  }

  h3 {
    @apply text-2xl;
    @apply my-2;
  }

  p {
    @apply mb-2;
  }

  nav li a.active,
  nav li a:hover {
    @apply text-orange-400;
  }

  label {
    @apply block;
    @apply uppercase;
    @apply tracking-wide;
    @apply text-xs;
    @apply font-bold;
    @apply mb-2;
  }

  input,
  textarea {
    @apply appearance-none;
    @apply block;
    @apply w-full;
    @apply bg-gray-200;
    @apply text-gray-700;
    @apply border;
    @apply rounded;
    @apply py-3;
    @apply px-4;
    @apply mb-3;
    @apply leading-tight;
  }

  .embed-responsive {
    @apply relative;
    padding-bottom: 56.25%;
  }

  .embed-responsive-item {
    @apply absolute;
    @apply w-full;
    @apply h-full;
  }

  .chip {
    @apply inline-block;
    @apply rounded-full;
    @apply px-3;
    @apply py-1;
    @apply text-sm;
    @apply font-semibold;
    @apply mb-1;
  }

  .social-link {
    @apply p-1;
    @apply text-orange-400;
    @apply text-2xl;
  }

  .track-title:hover span {
    @apply text-orange-400;
  }

  #music-player .rhap_container {
    background-color: transparent;
    @apply relative;
    @apply h-20;
  }

  #music-player .rhap_progress-section,
  #music-player .rhap_controls-section,
  #music-player .rhap_header {
    @apply absolute;
    top: 10%;
  }

  #music-player .rhap_header {
    @apply left-0;
  }

  #music-player .rhap_progress-section {
    top: 60%;
    @apply left-0;
    width: 100%;
  }

  #music-player .rhap_controls-section {
    @apply right-0;
    @apply mt-0;
  }

  #music-player .rhap_time,
  #music-player .rhap_main-controls-button {
    @apply text-white;
  }

  @media (min-width: 640px) {

    #music-player .rhap_container {
      @apply h-12;
    }

    #music-player .rhap_progress-section,
    #music-player .rhap_controls-section,
    #music-player .rhap_header {
      @apply absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    #music-player .rhap_progress-section {
      @apply right-0;
      left: auto;
      width: 50%;
    }

    #music-player .rhap_controls-section {
      left: 20%;
      right: auto;
    }
  }
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */

  